@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
    font-family: 'Mogila';
    src: url('../../fonts/Mogila.otf') format('opentype');
  }

.about-me-container {
  margin-top: 2%;
  margin-inline: 12%;
  padding: 20px;
  font-family: 'Lato', sans-serif;
}
.imagecontainer {
  width: 100%; /* oder eine spezifische Breite */
  height: 100vh; /* Höhe des Containers, passt die Abschneidehöhe an */
  overflow: hidden; /* Verbirgt den überstehenden Teil des Bildes */
  position: relative; /* Ermöglicht die absolute Positionierung des Kind-Elements */
  display: flex;
  justify-content: center; /* Zentriert das Bild horizontal */
}

.coverPicture {
  position: absolute;
  top: 50%; /* Zentriert das Bild vertikal */
  transform: translateY(-32%); /* Verschiebt das Bild zurück, um es zu zentrieren */
  min-width: 100%; /* Stellt sicher, dass das Bild mindestens so breit wie der Container ist */
  height: auto; /* Erhält das Seitenverhältnis des Bildes */
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px; /* Kontrolliert die Größe der Icons */
  color: #c1b3a5; /* Passt die Farbe der Icons an */
  /* Weitere Stile nach Bedarf */
}
.h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-family:"Julius Sans One", sans-serif;
  font-weight: 300;
  font-size: 4.5vw;
  color: #2E4053;
}

.h2 {
    font-family:'Nunito', sans-serif;
  font-size: 30px;
  color: #2E4053;
  text-align: center;
}

/* AboutMe.module.css */

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tableElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Passt die Breite jedes Tabellenelements an */
  text-align: center;
}

.icon {
  width: 100px; /* Anpassen nach Bedarf */
  height: auto;
}

.fullWidthText {
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 768px) {

  .about-me-container {
    margin-top: 5%;
    margin-inline: 0%;
    padding: 20px;
    font-family: 'Lato', sans-serif;
  }
  .h1 {
    font-size: 7.5vw;

  }
  .row {
    flex-direction: column;
    align-items: center;
  }

  .tableElement {
    width: 80%; /* Breitere Elemente auf kleineren Bildschirmen */
  }

  .imagecontainer {
    margin-top: -40%;
    width: 100%; /* oder eine spezifische Breite */
    height: 100vh; /* Höhe des Containers, passt die Abschneidehöhe an */
    overflow: hidden; /* Verbirgt den überstehenden Teil des Bildes */
    position: relative; /* Ermöglicht die absolute Positionierung des Kind-Elements */
    display: flex;
    justify-content: center; /* Zentriert das Bild horizontal */
  }
  
  .coverPicture {
    position: absolute;
 /* Zentriert das Bild vertikal *//* Verschiebt das Bild zurück, um es zu zentrieren */
    min-width: 100%; /* Stellt sicher, dass das Bild mindestens so breit wie der Container ist */
    height: auto; /* Erhält das Seitenverhältnis des Bildes */
  }
}
