@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.centered {
  margin-inline: auto;
  width: 50%;
  margin-top:2%;

 margin-bottom: 5%;
  text-align: center;
  font-family:"Julius Sans One", sans-serif; /* Modern und schlicht */
}


.fließContent{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: clamp(15px, 3vw, 20px) !important;
  margin-bottom: 2%;
  display: block;
}




/* Stil für den Header, der immer sichtbar ist */


/* Stil für den Inhalt, der beim Klicken ein-/ausgeblendet wird */




.tabbuttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabbuttons button {
  border: 2px solid #cccccc;
  background-color: #ffffff;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.tabbuttons button.active {
  border-color: #007bff;
  background-color: #007bff;
  color: #ffffff;
}

.tabcontent {
  text-align: center;
}
.tabscontainer {
  width: 70%;
  margin: auto;
}

.tabs {
 
  margin: auto;
  display: flex; /* Sorgt dafür, dass die Buttons in einer Zeile angeordnet werden */
  /* Zentriert die Buttons horizontal im Container */
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: clamp(13px, 3vw, 25px) !important;
}

.tab {
  border: solid 0.5px;
  width: 40%;
  margin-inline: 5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.tab.active {
  border: solid 1px;
  background-color: #bfbfbf;;
  color: white;
}

.tabcontent {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .tabcontent {
    width: 120%;
    margin-inline:-10%;
  }
.tabs{width: 120%;
margin-inline:-10%;}
    .tab {
      width: 30%;
      margin-inline: none;}

      .tabscontainer {
        width: 100%;
      }    
      .centered {
        margin-inline: auto;
        width: 100%;}
}
