@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
    font-family: 'Mogila';
    src: url('../../fonts/Mogila.otf') format('opentype');
  }
.article {
    height: 80%;
    
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.first {
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: 105vh
}

.banner{
    height: 20px;
}


.alltop{
    margin-top: -20%;
  }







.logoSvg {
    width: 30%;
    height: auto;
    fill:white;
    z-index: 3;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 25%;
    left: 70%;
    right: 0;
    height: fit-content;
    margin: auto;
    
    /*width: 10px; 
    height: 10px; 
    margin: 10px;

    */ /* Damit der Container nicht breiter als das Bild ist */

}

.header {
    display: flex;
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items: center; /* Elemente links ausrichten */
    font-family:'Nunito', sans-serif;
    font-weight: 300;
    font-size: clamp(32px, 5vw, 90px);
    color: white;
    position: absolute;
    top: 65%;
    left: 40%;
    /* Zentriert den .header horizontal */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.conn {
    transform: translateX(-50%); 
    margin-bottom: 20px;
    /* Keine zusätzliche Anpassung nötig, wenn dieses Element linksbündig sein soll */
}

.shap {/* Verschiebt das zweite Element nach rechts */
    /* Alternativ kannst du padding-left verwenden, wenn das für dein Layout besser passt */
}

.scroll-down-arrow {
    position: absolute;
    bottom: 40px; /* Anpassen basierend auf Ihrem Layout */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px; /* Größe des Pfeils anpassen */
    cursor: pointer;
    /* Optional: Stilisierung für bessere Sichtbarkeit */
    stroke: #FFF; /* Oder eine andere Farbe, die zu Ihrem Design passt */
    text-shadow: 0 0 8px rgba(0,0,0,0.5); /* Sorgt für bessere Lesbarkeit auf unterschiedlichen Hintergründen */
  }
  .arrow-second{
    bottom: -50px;
    stroke:black;
  }
  .arrow-third{

    transform:translateY(-350%)translateX(-48%); 
    bottom: 50px;
    stroke:#87b1bf;
    z-index: 100;

    position: absolute;
    margin-top: 20px;
    left: 50%; /* Beginne bei 50% des Elternelements */
  }
  .mid-part{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20%;
  }


  .final-section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
  }

.philo{
    
    text-align: center;
   margin-top: 10%;
    margin-bottom: 20%;
  
}
.heading2{
    font-family:'Mogila', sans-serif;
    font-weight: 300;
    font-size: 3.5vw;
}
.containe {
    display: flex;
    align-items: center;
    position: relative;
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    height: auto;
  /* Anpassen basierend auf dem Inhalt */
  }
  
  .colum {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  
  .text {
    padding: 30px;
    margin:20px 0; /* Für Abstand zwischen den Feldern */
    background-color: #87b1bf;
    color:white;
    border-radius: 20px;
    font-size: larger;
    font-family:'Mogila', sans-serif;
    font-weight: 200;
  }
  .main-text {
    margin: 5%;
    margin-top: 10%;
    max-width: 40%; /* Maximale Breite des Fließtextes */
    text-align: center; /* Zentrierter Text */
    margin-bottom: 1vw; /* Abstand zum unteren Inhalt */
    font-weight: 200;
    font-size: clamp(15px, 1vw, 27px);
  }
  
  .end-text {
    margin: 5%;

    max-width: 40%; /* Maximale Breite des Fließtextes */
    text-align: center; /* Zentrierter Text */
    margin-bottom: 40px; /* Abstand zum unteren Inhalt */
    font-weight: 500;
    font-size: 1vw;
    position: absolute;
    left: 50%;
    transform: translateX(-62%) translateY(700%);

  }
  
  .center-title {
    position: absolute;
    left: 50%;
    transform: translateX(-45%) translateY(-80%);
  }
  
  .first-part {
    max-width: 80%; /* oder einen bestimmten Prozentsatz */
    margin-left: 12%; /* Zentriert den Container */

    margin-top: 5%;
    margin-bottom: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Teilt den Container in zwei Spalten mit unterschiedlichen Größen */
    grid-template-areas: 
      "text image";
  }
  .section-text {
    grid-area: text;
    margin-right: 20%;
    margin-top: 10%;
  }  
  
    .second{
      grid-area: image;
      height: 80vh;
      width: auto;
      
      margin-top: 0%;
      justify-self: center;
  }


  .leftText{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: clamp(22px, 2vw, 40px);
  
    text-align: center;

}

@media (max-width: 768px) {

  .first-part{
    max-width: 80%;
    margin-left: 14%;
    margin-top: 10%;
    margin-bottom: 10%;
    grid-template-columns: 1fr; /* Eine einzelne Spalte für mobile Geräte */
    grid-template-areas:
      "text"
      "image";
  }
  
  .section-text {
    
  
    margin-right: 0%;
    margin-bottom: 10%;
  }  
  .leftText{

    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;

}

  .second{
    display: none;
  
  }
  
  .arrow-third{

    transform:translateY(100%)translateX(-40%); 
    bottom: 50px;
    stroke:#87b1bf;
    z-index: 100;

    position: absolute;
    margin-top: 20px;
    left: 50%; /* Beginne bei 50% des Elternelements */
  }

  
    .header { 
        font-size: 40px;
        text-align: center;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        height: fit-content;
        margin: auto;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
       
    }
  
    .conn {
         transform: translateX(0%); 
        margin-bottom: 0px;
    }

    .first {
        object-fit: cover;
        width: 100%;
        height: 100%;
        height: 100vh
    
    }
 
  .logoSvg{
    width: 60%;
    left: 50%;
   
    }

    .philo{
      text-align: center;
     margin-top: 20%;
      margin-bottom: 0%;
    
  }

}

  
  /* Größere Schriftgröße für größere Fenster */
  @media (min-width: 1200px) {
    .header {
        font-size: 70px;
    }
    
  }
  