@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
    font-family: 'Mogila';
    src: url('../../fonts/Mogila.otf') format('opentype');
  }

.contact-page {
    padding: 20px;
    margin: auto;
    margin-top: 10%;
  }
  .heading {
    margin-top: 5%;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-family:"Julius Sans One", sans-serif;
    font-weight: 300;
    font-size: 4.5vw;
    color: #2E4053;
    transition: transform 0.3s ease;
}
.heading:hover {
  transform: scale(1.05) ;

  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact-info-konakt{
  width: 25%;
  margin: auto;
  margin-bottom: 5%;
}

.text-style {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block; /* Stellt sicher, dass der Hintergrund und die Polsterung richtig angewendet werden */
}
.text-wrapper-kontakt {
  background-color: #c1b3a5;
  color: white;
  text-align: center;
  font-weight: 300;
  padding: 20px;
  font-size: 22px;
  /* Anpassen nach Bedarf */
}
.title-wrapper-kontakt {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 24px;
  /* Anpassen nach Bedarf */
  font-weight: 700;
  /* Für eine kräftige Überschrift */
  color: #c1b3a5;
  /* Farbanpassung */
  text-align: center;
  padding: 10px;
  /* Abstand */
}
@media (max-width: 768px) {
  .contact-info-konakt{
    width: 100%;
  
  }
  .heading {
    margin-top: 30%;
    font-size: clamp(50px, 5vw, 50px);
}
}